engine-strict=true
# .npmrc
registry=https://registry.npmmirror.com
electron_mirror=https://registry.npmmirror.com/-/binary/electron/ 
# disturl=https://registry.npmmirror.com/-/binary/node 
# electron_custom_dir={{ version }}
# https://registry.npmmirror.com/electron/
# https://npmmirror.com/mirrors/electron/